<%- include('./layouts/header') %>

<h1 class="title">Welcome</h1>
<div class="tutorial-info">
  <ul class="tutorial-info">
    <li><b> This is a Role Based Access Control project </b></li>
    <li>Login or <b>Register</b> to login as user</li>
   
  </ul>
</div>

<%- include('./layouts/footer') %>